* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body 
{
    background: #0b1120;
    color: #fff;
    padding: 20px;
}
.navbar 
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: rgba(255,255,255,0.05);
   padding-top:15px ;
   padding-bottom: 15px;
   padding : 15px ;
   padding-right: 25px;
   padding-right: 25px;
   border-radius: 16px;
}
.logo img 
{
  width: 90px;        
  height: 90px;
  border-radius: 50%;
  border: 2px solid #3b82f6;
}
.nav-links a 
{
    margin: 0 12px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
    border-radius: 3px;
    font-weight: bold;
    transition: all 0.3s;
    padding: 10px;
}
.student
{
   background-color: blue; 
}
.nav-links a:hover 
{
    color: #3b82f6;
    background-color:#080c17;
    padding: 15px;
    border-radius: 20px;
    color:wheat;
}
.menu 
{
    font-size: 1.5rem;
    cursor: pointer;
}
.info-card 
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 25px;
}
.card 
{
    flex: 1;
    min-width: 220px;
    padding: 20px;
    border-radius: 16px;
    font-size: 0.95rem;
    color: #fff;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}
.card:hover 
{ 
    transform: translateY(-5px); 
}
.yellow 
{ 
    background: linear-gradient(135deg,#f6d365,#fda085); 
}
.purple 
{   
    background: linear-gradient(135deg,#a18cd1,#fbc2eb); 
}
.green  
{ 
    background: linear-gradient(135deg,#84fab0,#8fd3f4); 
}
.search-box 
{
    display: flex;
    margin-bottom: 25px;
}
.search-box input 
{
    flex: 1;
    padding: 14px;
    border-radius: 12px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: none;
    outline: none;
    font-size: 1rem;
}
.search-box button 
{
    padding: 14px 24px;
    border: none;
    background: #3b82f6;
    color: #fff;
    font-weight: 600;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
    transition: background 0.3s;
}
.search-box button:hover 
{
    background: #2563eb;
}

.quick-actions h3 
{ 
    margin-bottom: 12px; 
}
.actions 
{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.actions span 
{
    background: rgba(255,255,255,0.1);
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
}
.actions span:hover 
{
    background: rgba(255,255,255,0.25);
}


.popular h3 
{
      margin: 30px 0 14px;
}
.places 
{
    display: flex;
    gap: 15px;
    overflow-x: auto;
}
.places img 
{
    width: 220px;
    height: 150px;
    object-fit: cover;
    border-radius: 16px;
    transition: transform 0.3s;
}
.places img:hover 
{
      transform: scale(1.05);
}


@media (max-width: 768px) 
{
    .navbar 
    {
        flex-direction: column;
        gap: 15px;
    }
    .logo img 
    { 
        width: 70px; height: 70px; 
    }
}




